*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.relogio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
    background-color: #b77b7b;
}
.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #785c5c;
    
}
.display{
    background-color: #e9a1a1;
    padding: 60px;
    border-radius: 10px;
    font-size: 50px;
    
}
body{
    background-color: #d6c3c3;
    font-family: Arial, Helvetica, sans-serif;
}